.toast-animation {
  animation: toast-animation 1s ease 0s 1 normal forwards;
}

@keyframes toast-animation {
	0% {
		opacity: 0;
		transform: translateY(-50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
.custom-opacity-65 {
	opacity: .65;
}

.custom-invalid-tooltip {
	background-color: rgba(220,53,69,.9);
	border-radius: .25rem;
	color: #fff;
	display: block;
	font-size: .875rem;
	margin-top: .1rem;
	max-width: 100%;
	padding: .25rem .5rem;
	position: absolute;
	top: 100%;
	z-index: 5;
}